:root {    
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*{      
    font-family: 'Roboto';
    margin:0;
    font-weight: 400;
}

.menu{
    background-image: linear-gradient(rgba(26, 12, 180, 0.952),rgba(0, 0, 0, 0.986)),url(../img/ornamento.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100dvh;  
    min-height: 100%;      
}

.menu #companyTitle{
    height: 80px;
    width: 100%;
    display: flex;
    padding-left: 20px;    
    align-items: center; 
    color: white;   
}

.menu #companyTitle h2{
    padding-left: 30px;
}
.menu #companyTitle img{
    width: 30px;
        
}
.menu nav{
    margin-top: 30px;
    width: 100%;
}
.menu nav ul{
    padding: 0;    
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
}
.menu nav ul li{
    height: 65px;
    padding-left:20px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    
}
.menu nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}
.menu nav ul li img{
    width: 30px;
    height: 30px;
}
.menu nav ul li a{    
    padding-left: 30px;
    padding-right: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height:100%;   
    text-decoration: none;
    color: rgb(255, 255, 255);
       
    
    font-size: 1.2rem;
}
.active{
    background-color: rgba(255, 255, 255, 0.2);    
    color: rgb(255, 255, 0);
}


/* top menu */

.topMenu{    
    color: rgba(26, 12, 180, 0.952);
    width: 100%;
}
.topMenu img{   
    width: 50px;    
}
.topMenu #role{
    font-style: italic;
    padding-top: 10px;
    color: rgb(158, 158, 158);
    font-size: 16px;
}
.topMenu #name{
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: 500;
}


/* content */
main{
    min-height: 100dvh;
}
main #breadcrums{
    font-size: 1.3em;
    text-align: left;    
    color: rgb(202, 202, 202);
}
main #sectionTitle{
    padding-top: 10px;
    font-size: 2.4em;

}